<div class="grid grid-cols-2 gap-1 items-center justify-center h-screen">
  <!-- Profile Section -->
  <div
    class="py-8 px-24 max-w-sm bg-white rounded-xl shadow-lg space-y-2 mx-auto"
  >
    <img
      class="block mx-auto h-24 rounded-full"
      src="assets/jeath.png"
      alt="Man's Face"
    />
    <div class="text-center space-y-2">
      <div class="space-y-0.5">
        <p class="text-lg text-black font-semibold">Jeath Rahmat Ullah</p>
        <p class="text-slate-500 font-medium">Software Engineer</p>
      </div>
      <div class="flex items-center justify-center self-center">
        <div class="flex gap-4">
          <a
            href="https://www.linkedin.com/in/jeath-rahmat-ullah/"
            target="_blank"
            rel="LinkedIn"
            class="flex items-center gap-2"
          >
            <img
              src="assets/icons/linkedin.png"
              alt="LinkedIn"
              class="mx-auto w-8"
            />
          </a>
          <a
            href="https://github.com/JeathRahmatUllah"
            target="_blank"
            rel="Github"
            class="flex items-center gap-2"
          >
            <img
              src="assets/icons/github.png"
              alt="Github"
              class="mx-auto w-8"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-contact-me/>
</div>
