

  <div class="flex flex-col items-center justify-center min-h-screen gap-5">
    <div>
      <img class ="w-[600px] max-w-screen p-4 hover:scale-110" src="assets/resume.jpg" alt="Resume image">

    </div>
    <div class="text-xl font-bold text-center w-full md:w-1/2">
      <a href="/assets/resume.pdf" class="inline-block px-6 py-3 border border-black-500 rounded-md bg-black-500 text-white hover:bg-white hover:text-primary transition duration-300 ease-in-out hover:scale-110 ">Download Resume</a>
    </div>
  </div>
  